.container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;


}

.a{
  color: red;
}

.b{
  background-color: green;
}


.cc{
  background-color: blue;
}

.d{
  background-color: black;
}

.e{
  background-color: pink;
}